# allow minimum to ignore binary create by `go build`
/*
!/*/

!/go.mod
!/go.sum

!/LICENSE
!/.gitignore
!/.gitattributes
!/README.md

# build script
!/Makefile
!/CMakeLists.txt
!/*.bat
!/*.sh

## src, test src, dest(folder only)
!/dest/
/dest/*
!/dest/.gitkeep


# project oriented
!/dummy-rclone.conf
/rclone.exe
!/_testdir/
!/_testdir.7z


# windows / mac
.DS_Store
[Tt]humbs.db